@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root {
  --primary-color: #0471ee;
  --light-color: #f4f4f4;
  --dark-color: #000;
  --transparent-color: rgba(0, 0, 0, 0);
  --opacity: 0.7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  font-size: 1rem;
}

.form-overlay {
  position: absolute;
  background: hsl(0, 0%, 90%);
  width: 100vw;
  height: 100vh;
  display: grid;
  background: var(--primary-color);
  grid-template-columns: 2fr 1fr;
}

.form-overlay > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-overlay > div.form-container {
  position: relative;
  background: var(--light-color);
}

.form-overlay > div.form-container div.top {
  position: absolute;
  top: 30px;
  right: 50px;
}

.form-overlay > div.form-container div.top p {
  font-size: 0.8rem;
  display: inline;
}

form {
  height: 60%;
  width: 40%;
  display: grid;
  z-index: 2;
}

form > div {
  display: block;
  padding: 0 10px;
}

form > div input {
  display: block;
  width: 100%;
  padding: 13.5px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.1s;
}

/* .Before-FS {
  width: 344px;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  height: 28px;
  font-size: 16px;
  margin: 1px 1px 0 1px;
  padding: 13px 15px;
} */

form > div input:focus,
form > div select:focus {
  border: 1px solid var(--primary-color);
  /* border-top: 1px solid transparent; */
}

.Fieldset > p {
  opacity: 0;
  transition: 0.2s;
}

.Fieldset > p {
  position: relative;
  top: -47px;
  font: 1em normal;
  margin: -5px 2.5px -8px 10px;
}

.Fieldset > p > span {
  float: left;
  color: var(--primary-color);
  font-size: 13px;
}

.Fieldset > p::before {
  border-top: 1px solid var(--primary-color);
  content: ' ';
  float: left;
  margin: 0.5em 2px 0 -1px;
  width: 0.75em;
}

.Fieldset > p::after {
  border-top: 1px solid var(--primary-color);
  content: ' ';
  display: block;
  height: 1.5em;
  left: 2px;
  margin: 0 1px 0 0;
  overflow: hidden;
  position: relative;
  top: 0.5em;
}

.placeholder {
  position: relative;
  left: 13px;
  top: -47px;
  color: #80868b;
  font-weight: 400;
  pointer-events: none;
  transition: 0.4s;
}

input:focus ~ label.placeholder,
input:valid ~ label.placeholder {
  top: -60px;
  font-size: 10px;
  opacity: 0;
}

input:focus + .Fieldset > p {
  opacity: 1;
}

form > div select {
  appearance: 10px;
  display: block;
  width: 100%;
  padding: 13.5px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
}

.form-overlay > div.text-container {
  width: 100%;
  height: 100%;
}

.form-overlay > div.text-container div {
  width: 60%;
  margin: auto;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form-overlay > div.text-container div h1,
.form-overlay > div.text-container div p {
  color: var(--light-color);
}

.form-overlay > div.text-container div p {
  font-size: 1.1rem;
}
